<%- include('partials/header') -%>

<HR>
    <div class="alert alert-warning">
      <H1>TẠO HÓA ĐƠN BÁN HÀNG</H1>
    </div>
<HR>


    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <H1>Các sản phẩm</H1>
            </div>
            
                <div class="row">
				<table width = "100%">
                <% for (var i = 0; i < productlist.length; i++) { %>
						<tr style="border-width: 15px;border-color: rgb(33, 158, 81);padding-left: 150px;">
							<td>
								<img width="300px" height="230px" src="/images/<%= productlist[i].urlImg%>">
							</td>
							<td > 
								<H3><%= productlist[i].Name %></H3>
                                <p><b>Price: </b>
                                <%= productlist[i].Price%> / <%= productlist[i].Unit%> </p>
								
								<p><b>Information: </b></p>                                
                                <p><%= productlist[i].Information%> </p>
								<button style="color: black; background-color: greenyellow;font-size: larger;" type="button" class="btn btn-success" onclick="themvao('<%= productlist[i]._id %>', '<%= productlist[i].Name %>', '<%= productlist[i].Price%>' )">Thêm vào</button>
							</td>
						</tr>
                    <% } %>
					
				</table>
				</div>
					

            
        </div>

        <div class="col-sm-4">
            <div class="row">
                <H1>GIỎ hàng</H1>
            </div>
            <div class="row" id="giohang">
                <table width="100%" id="giohangTab" style="border-width: 5px;border-color: rgb(33, 158, 81);padding-bottom: 15px;">
				
				</table>
            </div>
            
            <form action="/payment">
            <input  name="dssp" id="dssp" type="hidden" value="">
            <button style="color:black; background-color: greenyellow; font-size: large;" type="button" class="btn btn-success" onclick="submit()">Thanh toán</button>
            </form>
        </div>        
      </div>

<script>
    var dsspmua = "";
    var giohang = {};

    function addGioHang(xID, xName, xPrice) {
        var hangthem = giohang[xID];

        console.log(hangthem);

        if (hangthem) {
            hangthem["soluong"] += 1
        } else {
            hangthem = { "ten" : xName, "gia" : xPrice, "soluong" : 1};
        }
        giohang[xID] = hangthem;

        console.log(hangthem);

    }

    function themvao(xID, xName, xPrice) {
        //alert(xID + "  " + xName);
        var x = document.getElementById("giohangTab");
        var ds = document.getElementById("dssp");

        /// ADD
        addGioHang(xID, xName, xPrice);

        /// show list
        var xkeys = Object.keys(giohang);
        var showlist = "";
        dsspmua = "";

        for(j=0; j<xkeys.length; j++)
        {
            dsspmua += xkeys[j] + "_" + giohang[ xkeys[j] ]["soluong"] + "_";
            showlist += "<tr> <td> " 
                + giohang[ xkeys[j] ]["ten"] 
                + " </td> <td> "  + giohang[ xkeys[j] ]["soluong"] + " </td> <td> "
                + giohang[ xkeys[j] ]["gia"] + " </td></tr>";
        };


        x.innerHTML = showlist;
        ds.value = dsspmua;
    }


</script>

<%- include('partials/footer') -%>
