<%- include('partials/header') -%>

<% for (var i = 0; i < productlist.length; i++) { %>

<HR>
<div class="alert alert-primary">
  <H1><%= productlist[i].Name %></H1>
</div>
<HR>

<P><img width="500px" height="auto" src="/images/<%= productlist[i].urlImg%>"></P>
<P style="font-family: Arial;font-size: 50px;">Price: <%= productlist[i].Price%> / <%= productlist[i].Unit%> </P>

<P style="font-family: Arial;font-size: 50px;">Information: <%= productlist[i].Information%> </P>

<% } %>


<%- include('partials/footer') -%>
