<%- include('partials/header') -%>

<HR>
<div class="alert alert-primary">
  <H1><%= Name %></H1>
</div>
<HR>



<P><img width="300px" height="200px" src="/images/<%= urlImg%>"></P>
<P >Price: <%= Price%> / <%= Unit%> </P>

<P>Information: <%= Information%> </P>


<%- include('partials/footer') -%>
